.about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__info-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
}

.about__description {
    background-color: var(--clr-text-backgroud);
    border-radius: 8px;
    padding: 0.5rem;
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--clr-slate600);
}

.about__hr {
    border-color: var(--clr-slate800);
}

.about__subtitle {
    font-size: var(--size-s);
    color: var(--clr-slate400);
}

.about__photo {
    border-radius: 15px;
}

@media (min-width: 475px) {
    .about {
        gap: 1.5rem;
    }

    .about__info {
        gap: 1.5rem;
    }

    .about__title {
        font-size: var(--size-3xl);
    }

    .about__description {
        font-size: var(--size-base);
    }

    .about__subtitle {
        font-size: var(--size-base);
    }


    .about__ul__item {
        font-size: var(--size-base);
    }
}

@media (min-width: 640px) {
    .about__description {
        max-width: 80ch;
    }
}

@media (min-width: 768px) {
    .about__description {
        max-width: 100ch;
    }
}

@media (min-width: 1024px) {
    .about__photo {
        max-width: 40%;
    }
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .about__title {
        font-size: var(--size-4xl);
    }

    .about__description {
        font-size: var(--size-l);
    }

    .about__subtitle {
        font-size: var(--size-l);
    }


    .about__ul__item {
        font-size: var(--size-l);
    }
}

@media (min-width: 1280px) {
    .about__info {
        gap: 2rem;
    }

    .about__title {
        font-size: var(--size-5xl);
    }

    .about__description {
        font-size: var(--size-xl);
        line-height: 1.4em;
    }

    .about__subtitle {
        font-size: var(--size-xl);
    }


    .about__ul__item {
        font-size: var(--size-xl);
    }

    .about__photo {
        width: 60%;
    }
}

/*@media (min-width: 1536px) { }*/