.about {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__info-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
}

.about__description {
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--clr-slate600);
}

.about__hr {
    border-color: var(--clr-slate800);
}

.about__subtitle {
    font-size: var(--size-s);
    color: var(--clr-slate400);
}

.about__svg-gird {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-areas:
      'dotnet dotnet dotnet java java js js docker docker' 
      'dotnet dotnet dotnet java java js js docker docker'
      'dotnet dotnet dotnet kotlin selenium  ts react mongodb redis'
      'git github gitlab playwright appium html css . .';
    place-items: center;
}

.about__svg-grid-item {
    width: 100%;
    height: 100%;
}

.dotnet {
    grid-area: dotnet;
}

.java {
    grid-area: java;
}

.js {
    grid-area: js;
}

.ts {
    grid-area: ts;
}

.react {
    grid-area: react;
}

.selenium {
    grid-area: selenium;
}

.playwright {
    grid-area: playwright;
}

.docker {
    grid-area: docker;
}

.github {
    grid-area: github;
}

.gitlab {
    grid-area: gitlab;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.kotlin {
    grid-area: kotlin;
}

.mongodb {
    grid-area: mongodb;
}

.redis {
    grid-area: redis;
}

.git {
    grid-area: git;
}
.appium {
    grid-area: appium;
}


@media (min-width: 475px) {
    .about {
        gap: 1.5rem;
    }

    .about__info {
        gap: 1.5rem;
    }

    .about__title {
        font-size: var(--size-3xl);
    }

    .about__description {
        font-size: var(--size-base);
    }

    .about__subtitle {
        font-size: var(--size-base);
    }


    .about__ul__item {
        font-size: var(--size-base);
    }
}

@media (min-width: 640px) {
    .about__image-wrapper {
        margin: 0 auto;
    }

    .about__img {
        width: 28.6875rem;
    }
}

/*@media (min-width: 768px) { }*/

@media (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about__title {
        font-size: var(--size-4xl);
    }

    .about__description {
        font-size: var(--size-l);
    }

    .about__subtitle {
        font-size: var(--size-l);
    }


    .about__ul__item {
        font-size: var(--size-l);
    }
}

@media (min-width: 1280px) {
    .about__info {
        gap: 2rem;
    }

    .about__title {
        font-size: var(--size-5xl);
    }

    .about__description {
        font-size: var(--size-xl);
    }

    .about__subtitle {
        font-size: var(--size-xl);
    }


    .about__ul__item {
        font-size: var(--size-xl);
    }

    .about__img {
        width: 30.75rem;
    }
}

/*@media (min-width: 1536px) { }*/