.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-xxs);
}
.footer__title {
    font-size: var(--size-xs);
    font-weight: 400;
    color: var(--clr-slate600);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
}

.footer__public-profiles {
    display: flex;
    justify-content: center;
    font-size: var(--size-xs);
    color: var(--clr-slate400);
}